
@import '../App.less';

@mainColor: #d35400;
@mainColorSecond: #e67e22;
@hoverColor: rgba(0, 0, 0, 0.1);
@selectColor: #f8faec;
@mainColorFont: #fff;
@primary-color: @mainColor;
@link-color: @mainColor;