#pr-table{
    width: 100%;
    tr td{
        padding: 5pt;
        border: 1px solid black;
    }
}

#pr-container{
    // width: 12in;
    margin-right: auto;
    margin-left: auto;
    overflow: auto;
    // font-size: 12pt;
}