#components-layout-demo-custom-trigger .trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  #components-layout-demo-custom-trigger .trigger:hover {
    color: #4834d4;
  }
  
  #components-layout-demo-custom-trigger .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
  }
  
  .site-layout-sub-header-background {
    background-image: linear-gradient(to left, #30336b, #4834d4, #686de0);
  }
  
  .site-layout-background {
    /* background: #fff; */
  }

  #main-content{
      height: "100vh";
  }

  .ant-layout-sider-light .ant-layout-sider-trigger {
    color: #fff;
    /* background: #4834d4; */
    background-image: linear-gradient(to right, #4834d4, #686de0);
}

.ant-layout-sider-light .ant-layout-sider-zero-width-trigger{
  display: none;
}

.custom-pointer{
  cursor: pointer;
  color: #4834d4;
}

.selected-row{
  background-color: #f8faec;
}
.ant-table-thead > tr >th{
  color: white;
  background-image: linear-gradient(to top, #4834d4, #686de0) !important;
}
.ant-table-column-sort > tr >th{
  color: white;
  background-image: linear-gradient(to top, #4834d4, #686de0);
}

.site-page-header{
  position: absolute;
  top: 0;
  /* border: 1px solid rgb(235, 237, 240); */
  padding-left: 0;
  margin-left: -20px;
}

.custom-pointer .anticon{
  position: relative;
  top: -0.2em;
}
.ant-btn .anticon{
  position: relative;
  top: -0.1em;
}
.ant-back-top-icon .anticon{
  position: relative;
  top: -0.25em;
}
.ant-menu-item .anticon{
  position: relative;
  top: -0.30em;
}
.ant-menu-item:hover{
  background-color: rgba(0, 0, 0, 0.1);
}
.ant-dropdown-trigger .anticon{
  position: relative;
  top: -0.1em;
}
.ant-select-selection-item-remove .anticon{
  position: relative;
  top: -0.30em;
}

.ant-dropdown{
  /* border: 1px solid black; */
  -moz-box-shadow: 0 0 3px #ccc;
  -webkit-box-shadow: 0 0 3px #ccc;
  box-shadow: 0 0 3px #ccc;
} 

.header-items{
  position: relative;
  top: -10px;
}

.filter-options:hover{
  background-color: rgba(0, 0, 0, 0.1);
}
.filter-options{
  padding-left: 5px;
  padding-right: 5px;
}
.form-upload-selected-files:hover{
  background-color: rgba(0, 0, 0, 0.1);
}
.form-upload-selected-files{
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}
.notificaton-items:hover{
  background-color: rgba(0, 0, 0, 0.1);
}
.notificaton-items{
  padding: 20px !important;
}
#notifications-container{
  width: 350px !important;
  background-color: white;
}


/* .ant-card-head{
  height: 40px;
  min-height: 40px;
}
.ant-card-head-wrapper{
  height: 40px;
}
.ant-card-head-title{
  height: 40px;
  padding: 5px;
} */

.procurement-card-container{
  height: 75vh;
  overflow: auto;
  padding-right: 5px;

}
.purchase-request-card-content{
  height: 65vh;
  overflow: auto;
  padding-right: 5px;
}

.forms-card-content{
  height: 70vh;
  overflow: auto;
  padding-right: 5px;
}
.forms-card-form-content{
  height: 90vh;
  overflow: auto;
  padding-right: 5px;
}

.user-card-content{
  height: 90vh;
  overflow: auto;
  padding-right: 5px;
}

.quotation-main-card-content{
  height: 90vh;
  overflow: auto;
  padding-right: 5px;
}

.quotation-side-card-content{
  height: 40.8vh;
  overflow: auto;
  padding-right: 5px;
}

.ant-tabs-tabpane .ant-timeline{
  padding-left: 10px;
}
